body {
    font-family: "Libre Franklin", sans-serif;
}

img {
    display: block;
    border-radius: 5%;
    margin: 30px auto;
}

a {
    color: #397c12;
}

ul,
li {
    list-style-type: none;
}

.container {
    margin: 60px 120px;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.text {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.item:not(:last-child) {
    margin-right: 40px;
}